body {
  background-color: green;
}

.title {
  margin: 20px 50%;
}

footer {
  background-color: rgba(139, 69, 19, 255);
  color: white;
  font-size: 35px;
  margin: 0;
  padding: 0;
}

footer ul {
  display: flex;
  /* justify-content: space-between; */
  list-style-type: none;
}
footer ul li{
  font-size: 35px;
  margin: 20px;
}
